* {
    margin: 0;
    padding: 0;
}

#banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.logo {
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.banner-text {
    text-align: center;
    color: #fff;
    padding-top: 180px;

}

p {
    font-family: 'Poppins', sans-serif;
}

.banner-text h1 {
    font-size: 130px;
    font-family: 'Kaushan Script', cursive;


}

.banner-text p {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.banner-btn {
    margin: 70px auto;
    font-family: 'Roboto', sans-serif;

}

.banner-btn a {
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: 2px solid #fff;
    position: relative;
    z-index: 1;

}

.banner-btn a span {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    transition: 0.5s;
}

.banner-btn a:hover span {
    width: 100%;


}

.banner-btn a:hover {
    color: black;
}

#sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    position: fixed;
    transition: 0.5s;
    z-index: 20
}

nav ul li {
    list-style: none;
    margin: 50px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

#menubtn {
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 30px;
    border-radius: 3px;
    cursor: pointer;
    z-index: 30;
}

#menubtn img {
    width: 20px;
    margin-top: 15px;
}


@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 44px;

    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }
}

/* <!-- ---------------------------futures--------------------------------- --> */

#futures {
    width: 100%;
    padding: 70px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
    font-family: 'Poppins', sans-serif;

}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: "";
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587, #fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}


.title-text h1 {
    font-size: 50px;
}

.title-text p {
    margin: 20px;
}

.future-box {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

.futures {
    flex-basis: 50%;
}

.futures-img {
    flex-basis: 50%;
    margin: auto;
}

.futures-img img {
    width: 70%;
    border-radius: 10px;
}

.futures h1 {
    text-align: left;
    padding-left: 20px;
    margin-bottom: 15px;
    font-weight: 100;
    color: #009688;
    font-family: 'Roboto', sans-serif;
}

.futures-desc {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.future-text p {
    padding: 0 20px;
    text-align: initial;

}

@media screen and (max-width: 770px) {
    .title-text h1 {
        font-size: 35px;
    }

    .futures {
        flex-basis: 100%;
    }

    .futures-img {
        flex-basis: 100%;

    }

    .futures-img img {
        width: 100%;
    }
}

#services {
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}

.service-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}

.single-service {
    flex-basis: 48%;
    text-align: center;
    border-radius: 9px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}

.single-service img {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #009688);
    opacity: 0;
    transition: 1s;

}

.single-service:hover .overlay {
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

.service-desc {
    width: 80%;
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 1s;
}

hr {
    background: #fff;
    height: 2px;
    border: 0;
    margin: 15px auto;
    width: 60%;
    /* font-family: 'Roboto', sans-serif; */
}

.service-desc p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.single-service:hover .service-desc {
    bottom: 40%;
    opacity: 1;
}

@media screen and (max-width: 770px) {
    .single-service {
        flex-basis: 100%;
        margin-bottom: 30px;
    }

    .service-desc p {
        font-size: 12px;

    }

    .hr {
        margin: 5px auto;
    }

    .single-service:hover .service-desc {
        bottom: 25% !important;
    }
}

/* -------------------------------------testimonials---------------------------/ */

#testimonial {
    width: 100%;
    padding: 70px 0;
}

.testimonial-row {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.testimonial-col {
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #00413a14;
    transition: transform .5s;
    font-family: 'Poppins', sans-serif;

}

.testimonial-p {
    font-size: 5px;
    /* font-family: 'Poppins', sans-serif; */


}

.testimonial-row p {
    color: #777;

}

.user {
    display: flex;
    align-items: center;
    margin: 20px 0;

}

.user img {
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}

.user-info small {
    color: #009688;
}

.user-info {
    font-family: 'Roboto', sans-serif;

}

.testimonial-col:hover {
    transform: translateY(-7px);
}

@media screen and (max-width: 770px) {
    .testimonial-col {
        flex-basis: 100%;
    }

}

/* ------------------------------Footer----------------------- */
#footer {
    padding: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
    background: #efefef;
    width: 100%;
    position: relative;
}

.footer-row {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.footer-left,
.footer-right {
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}


.footer-right {
    text-align: right;

}

.footer-row h1 {
    margin: 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.footer-row p {
    margin: 10px 0;
    line-height: 35px;
}

.footer-img {
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

}

.social-links {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    margin-bottom: 20px;
}

.icons img {
    height: 30px;
    width: 30px;
    font-size: 20px;
    line-height: 40px;
    /* border: 1px solid #ffffff; */
    margin: 40px 5px 0;
    /* color: #ffffff/; */
    cursor: pointer;
    transition: .5s;
    margin-left: 35px;
}

/* .social-links img:hover {
    background: #009688;
    color: #fff;
    transform: translateY(-7px);

} */

.social-links p {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 770px) {

    .footer-left,
    .footer-right {
        flex-basis: 100%;
        font-size: 14px;
    }

    .footer-img {
        top: 25%;
    }

    .social-links p {
        font-size: 12px;
        margin-left: 16px;
    }

    .icons img {
        margin-top: 30px;
        margin-left: 23px;
    }
}